asgiref
channels
daphne
Django
djangorestframework
colorama
djangorestframework-simplejwt
django-cors-headers
loguru
scikit-learn==1.5.2 #very important version number
joblib
pandas
xgboost
folium
polyline